@import "../../../assets/styles/colors";
@import "../../../assets/styles/shadows";

:host {
  padding: 40px 25px;
  position: relative;
  form {
    margin: 40px auto;
    max-width: 600px;
    .form-body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      input,
      select {
        flex: 0 0 45%;
        margin: 10px 0;
      }
    }
    .errors {
      background-color: #FFEAEA;
      border-radius: 4px;
      margin: 15px 0;
      padding: 15px 10px;
      .error {
        align-items: center;
        color: #d53400;
        display: flex;
        font-family: 'Lato';
        font-size: 15px;
        font-weight: 500;
        span {
          margin-left: 10px;
        }
      }
    }
    .form-foot {
      display: flex;
      justify-content: flex-end;
      padding: 30px 0;
    }
  }
}

.back {
  align-items: center;
  background-color: $dark;
  border-radius: 50%;
  box-shadow: $small-shadow;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 15px;
  text-decoration: none;
  width: 50px;
  i.material-icons {
    color: rgba(255, 255, 255, .75);
    font-weight: 600;
    transition: color .25s ease;
  }
  &:hover i.material-icons {
    color: #fff;
  }
}