<h1 class="title">Usuarios</h1>

<section class="filters">
  <div class="options">
    <select name="emissionPoint"[(ngModel)]="query.emissionPoint">
      <option value="0">Todos los puntos</option>
      <option *ngFor="let point of emissionPoints" [value]="point.id">{{ point.name }}</option>
    </select>
    <select name="role" [(ngModel)]="query.role">
      <option value="0">Todos los roles</option>
      <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
    </select>
    <select name="state" [(ngModel)]="query.isActive">
      <option value="-">Todos los estados</option>
      <option [value]="true">Solo activos</option>
      <option [value]="false">Solo inactivos</option>
    </select>
  </div>
  <section class="actions">
    <button class="btn" (click)="search()">Buscar</button>
    <a class="btn primary" routerLink="/users/new">Nuevo</a>
  </section>
</section>

<section class="data">
  <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.pageNumber"
    [limit]="page.size"
    (page)='setPage($event)'
    [loadingIndicator]="isFetching"
    [messages]="{ emptyMessage: 'Sin información', totalMessage: 'en total' }"
  >
  </ngx-datatable>
  <ng-template #emailTpl let-row="row" let-value="value">
    <a class="email-link" [href]="'mailto:'+value">{{value}}</a>
  </ng-template>

  <ng-template #stateTpl let-row="row" let-value="value">
    <img class="state-img" *ngIf="value === true" src="https://svgshare.com/i/6p6.svg" />
    <img class="state-img" *ngIf="value === false" src="https://svgshare.com/i/6p0.svg" />
  </ng-template>

  <ng-template #actionsTpl let-row="row" let-value="value">
    <a [routerLink]="'/users/' + value + '/edit'" class="edit-btn">
      <i class="material-icons">edit</i>
    </a>
  </ng-template>
</section>
